    <tr class="<%= cycle("tr1", "tr2") %>"
      <%= 'style="font-weight: bold;"' if !message.read? %>
    >
      <td>
        <% if action_name == "inbox" %>
          <%= mail_to message.from_email %>
        <% else %>
          <%= message.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to message.subject.truncate(50,"..."), {:action => "view", :id => message.nonce.value}, :alt => 'Read Message', :title => 'Read Message' %>
      </td>
      <td align="center">
        <%= TimeFunc::days_ago_as_string(message.created_on) %> ago
      </td>
      <td align="center">
<%= link_to image_tag("view-listing.gif", :size => "24x24", :border => 0, :alt => "View listing", :title => "View listing"), {
          :controller => "listings", 
          :action => "show",
          :id => message.listing_id
        } %><%= link_to (image_tag("delete.gif", :size => "24x24", :border => 0, :alt => "Delete message", :title => "Delete message"), 
          {
            :action => "delete", 
            :id => message.id
          }, {
            :onclick => "return confirm('Are you sure you want to delete this message?');"
          }) if message.user_id == active_user.id %>
      </td>
    </tr>

