<table width="100%" class="details">
<tr>
<td valign="top">
 <table width="100%">
  <tr>
  <td class="label">Price:</td>
  <td><strong><%= number_to_currency(@listing.price) %></strong> <%= @listing.negotiable? ? "(OBO)" : "" %></td>
  </tr>
  <tr>
    <td class="label">Sign Code:</td>
    <td><strong><%= h(@listing.sign_code) %></strong> </td>
  </tr>
  <tr>
  <% if logged_in? and @listing.user == active_user %>
  <td class="label">Expires in:</td>
  <td>
    <% if @listing.expires_on > Time.now  %>
      <strong><%= TimeFunc::days_from_now_as_string(@listing.expires_on) %></strong>
      (<%= fmt_datetime(@listing.expires_on) %>)</td>
    <% elsif @listing.expires_on < Time.now and @listing.expires_on + 10.minutes > Time.now %>
      Just expired
    <% else %>
      Expired
    <% end %>
  </tr>
  <% end %>
  <tr>
  <td class="label">Location:</td>
  <td><%= h(@listing.city) %><%= h @listing.city.nil? || @listing.city.empty? ? "" : "," %> <%= h @listing.state %></td>
  </tr>

  <% if !@listing.url_1.empty? or !@listing.url_2.empty? %>
  <tr>
  <td class="label">Also seen at:</td>
  <td>
    <% if !@listing.url_1.empty? %>
      <%= raw(@listing.url_1_link) %><br/>
    <% end %>

    <% if !@listing.url_2.empty? %>
      <%= raw(@listing.url_2_link) %>
    <% end %>
  </td>
  </tr>
  <% end %>

</table>
  <%
    # Get all non excluded fields to make sure that the fields within each field group
    # are showable fields
    non_excluded_fields = @category.all_non_excluded_fields
    nef_hash = {}
    non_excluded_fields.each do |field|
      nef_hash[field.id] = true
    end
  %>
<% @listing.field_groups.each do |field_group| %>
    <%
      # run through the fields to make sure at least one of them is non excluded
      # if all are excluded, break out
      cont = true
      field_group.fields.each do |field|
        if nef_hash[field.id] == true
          cont = false
          break
        end
      end
      if cont
        next
      end
    %>
<% if field_group.id != -1 %><fieldset class="details"><legend>
  <%= h field_group.name %></legend><% end %>
  <table width="100%" class="details">
    <% field_group.fields.each do |field|
      next if nef_hash[field.id] != true # If the field isn't in the non-excluded-fields list, don't show it

    %>
      <tr>
      <td class="label">
        <%= h field.name %>:
      </td>
      	<!-- Hack by Bill as the previous code was not working properly.This is not the recommended approach but works for us.-->
	<% @value = ListingValue.find_by_listing_id_and_field_id(@listing.id,field.id) %>
      <td>
        <%= !@value.value.empty? ? @value.value : "-" %>
      </td>
      </tr>
    <% end %>
  </table>
<% if field_group.id != -1 %></fieldset><% end %>
<% end %>

<table width="100%" class="details">
    <tr>
    <td class="label">
      Viewed:
    </td>
    <td>
      <%= h @listing.hits %> times
    </td>
    </tr>
  </tbody>
  <!--<tr>
  <td colspan="2">
    <%= link_to_function "Show extra details", "Effect.Appear('hidden-fields', {duration: 1.0});Element.show('hide-hidden-fields-link');Element.hide('show-hidden-fields-link');", {:id => 'show-hidden-fields-link'} %>
    <%= link_to_function "Hide extra details", "Effect.Fade('hidden-fields', {duration: 0});Element.hide('hide-hidden-fields-link');Element.show('show-hidden-fields-link');", {:id => 'hide-hidden-fields-link', :style => 'display:none;'} %>
  </td>
  </tr>-->


  </table>


  <div>
    <%= simple_format(@listing.description) %>
  </div>
  <%= render :partial => "/messages/show_message_form" %>
</td>
<td align="right" valign="top" width="150" id="#listing-details-photos">
  <p>
    <%= link_to_function(image_tag("/#{@listing.photo_path(Listing::PhotoMediumSuffix, 1)}", {
    :size => Listing::PhotoMediumDimensions, :border => 0
    }), 'window.open("'+url_for({:action => "show_large_photo", :id => @listing.id, :num => 1})+'",null,"height=400,width=500,status=no,toolbar=no,menubar=no,location=no");') if !@listing.photo_path(Listing::PhotoMediumSuffix, 1).nil? %>
  </p>
  <p>
    <%= link_to_function(image_tag("/#{@listing.photo_path(Listing::PhotoMediumSuffix, 2)}", {
    :size => Listing::PhotoMediumDimensions, :border => 0
    }), 'window.open("'+url_for({:action => "show_large_photo", :id => @listing.id, :num => 2})+'",null,"height=400,width=500,status=no,toolbar=no,menubar=no,location=no");') if !@listing.photo_path(Listing::PhotoMediumSuffix, 2).nil? %>
  </p>
  <p>
    <%= link_to_function(image_tag("/#{@listing.photo_path(Listing::PhotoMediumSuffix, 3)}", {
    :size => Listing::PhotoMediumDimensions, :border => 0
    }), 'window.open("'+url_for({:action => "show_large_photo", :id => @listing.id, :num => 3})+'",null,"height=400,width=500,status=no,toolbar=no,menubar=no,location=no");') if !@listing.photo_path(Listing::PhotoMediumSuffix, 3).nil? %>
  </p>
  <p>
    <%= link_to_function(image_tag("/#{@listing.photo_path(Listing::PhotoMediumSuffix, 4)}", {
    :size => Listing::PhotoMediumDimensions, :border => 0
    }), 'window.open("'+url_for({:action => "show_large_photo", :id => @listing.id, :num => 4})+'",null,"height=400,width=500,status=no,toolbar=no,menubar=no,location=no");') if !@listing.photo_path(Listing::PhotoMediumSuffix, 4).nil? %>
  </p>
</td>
</tr>
</table>

