<h1>Welcome to Faxjax Lost and Found Center</h1>
<br/><br/>
<p>FAXJAX produces a line of Fast-Action ID TagsTM that allows people to protect their valuable properties while keeping their identity safe. </p>  
<br/><br/> 
<p>FAXJAX provides a secure method for recovery of personal items such as keys, phones, laptops, cameras, and so much more! </p>
<br/>
<br/>
<p>Save money, reduce anxiety, with this safe, easy way to recover your property.</p>
<br/>
<br/>
<p>Go to faxjax.com/sign_products/list to see our full line of PID Tags.  PID Tags are available in two adhesive sizes, as a key chain, a pet tag and a luggage tag.</p>
<br/>
<%= form_tag pid_path, :method => 'get'  do  %>
<h3>Code:&nbsp;&nbsp;&nbsp;<%= text_field_tag :search %>&nbsp;&nbsp;<%= submit_tag "Search" %></h3>
<% end %>
<br/>
<br/>
<br/>
<% if active_user %>
<h3><%= link_to("Activate",:controller => "pid",:action => "activate")%></h3>
    <% else %>
<h3><%= link_to("Activate",:controller => "home",:action => "sign_in")%></h3>
<% end %>
<br/>
<br/>
<br/>
<% if @pid && @pid.user.present? %>
		
	<% if show_message_form? %>
	<div>
  		<div>
    			<button type="button" class="submit" id="send-message-btn">Send message to Owner</button>
  		</div>
  		<div id="send-message" style="display: none">
    			<h3>Please enter your Message:</h3>
    			<%= render :partial => "message_form" %>
  		</div>
	</div>
	<% end %>  

<% end %>