<% i_d = InvoiceHelper::InvoiceDetailPresenter 
%>
<tr>
  <td><%= i_d.description %></td>
  <td><%= i_d.qty %></td>
  <td><%= i_d.price %></td>
  <td><%= i_d.discount %></td>
  <td><%= i_d.line_price %></td>
</tr>