
<noscript><a href='http://ads.lloydsliens.com/www/delivery/ck.php?n=ab1fe5a9&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.lloydsliens.com/www/delivery/avw.php?zoneid=4&amp;n=ab1fe5a9' border='0' alt='' /></a></noscript>
<div class="pro_banner_main">
<div class="feed"><%= link_to image_tag("feed.png", :style=>"width:27; height:11;"),:controller=>"home", :action => "feedback" %></div>
            	
		   
		<div class="pro_banner_bg">
                	<div class="jflow-content-slider">
		<div id="slides">
			<% @featured.each do |featured| %>
	
			<div class="slide-wrapper">
				<div class="slide-thumbnail">
				 <div class="baner_bottom_text">FEATURED</div>
					 <% if !featured.photo_path(Listing::PhotoLargeSuffix, 1).nil? %>
					<img src="<%= featured.photo_path(Listing::PhotoLargeSuffix, 1) %>" size = "400*300">	
						
					<% end %>	
					
					<%#= image_tag(featured.photo_path(Listing::PhotoLargeSuffix, 1), :size => "400*300" ) if !featured.photo_path(Listing::PhotoLargeSuffix, 1).nil? %>
				</div>
				<div class="slide-details">
					<% unless featured.sign_code.empty? %> 
				  <h4 style="font-size: 15px; color:red;">Sign Code: <%= featured.sign_code %><br/><br/></h4>
                    <% end %>
				  <h3 style="font-size: 15px;"><%= truncate(featured.name,:length => 40) %></h3>
				  <div class="description">
							<p style="font-size: 15px;align:left"><b>Rate : $<%= featured.price %></b></p><br/>
							
							<p align="left"><%= truncate(featured.description,:length => 80) %></p>
							
				</div>
				<div class="view">


				<%= link_to image_tag("view.png",:size => "122x33", :alt => "View Details"), {:action => 'show', :controller => 'listings',:id => featured.id} %>


				</div>
			    
				</div>
				<div class="clear"></div>
			</div>



			<% end %>

			
			

			
		</div>
			
		<div id="myController">
			<span class="jFlowPrev" style="display:none;">Prev</span>

			<% @featured.each do |featured| %>
 				<span class="jFlowControl"></span>
			<% end %>

			<span class="jFlowNext" style="display:none;">Next</span>
		</div>
		<div class="clear"></div>
	</div>

                <div class="baner_bottom_text">QR Code <a style="color:yellow;">CLASSIFIED AD </a>System! <a style="color:yellow;">ADVERTISING SIGNS</a> to sell your stuff! </div>
                </div>            
            	
                </div><br/><br/>
		
		<div style="font-size:13px;"><b>FaxJax.com </b>combines on-line classified ads with a free FOR SALE or FOR RENT sign. Sell or Rent your stuff fast! Get people directly to your page!<br/><br/>

               <b>FaxJax.com </b>provides a unique system for a visual connection with your physical product or property. If you are "For Sale by Owner" or "For Rent by Owner" this sign is essential!<br/><br/>

               <b>Save money, time, and relieve stress. Use our sign as a 'SILENT SALESPERSON'</b> On your Auto, Boat,RV, ATV, Tailer, Tractor, Home, appartments and houses for rent, Vacation Rental Property, Real Estate, Warehouse, Condo, Motorcycle, Yard Sale, etc.<br/><br/>
	      
	     <h1 style="color:#009900; text-align:center;">MOBILE ACCESS DIRECT FROM SIGNS</h1>
	      
             <p> Customer can optionally use the QR (Quick Response) Code  with a Smart Phone.</p>
	<%= image_tag("barcode_img.png",:height => 100,:width => 100,:align => "center" ) %>
 <!--<img vertical-align:text-top; src="../images/barcode_img.png" />--></div><br/>