<%= error_messages_for 'field_group' %>
<% form_for :field_group, @field_group do |f| %>
  <%= f.hidden_field :category_id, :value=>params[:category_id] %>
  
  <div>
    <label>Category:</label>
    <%= @field_group.category.name %>
  </div>

  <div>
    <label for="field_group_name">Field Group Name:</label>
    <%= f.text_field :name, :size => 40, :maxlength => 25 %>
  </div>

  <%= submit_tag "Save & Finish", {:class => "submit"} %>
  <%= submit_tag "Cancel", {:class => "submit"} %>
  
<% end %>

